<%
var items = site.posts.map(function(item, index) {
    return {
        'title': item.title,
		'path': item.path,
		'date': date(item.date, 'YYYY-MM-DD'),
        'year': date(item.date, 'YYYY')
    }
});

var posts = _.groupBy(items, function(item) { return item.year });
var years = _.keys(posts).reverse();
%>

<div class="archive">
<% _.forEach(years, function(year) { %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Archives</li>
        <li class="breadcrumb-item active"><span><%- year %></span></li>
    </ol>
    <ul class="list-group archives-year">
    <% posts[year].forEach(function(item, index) { %>
        <li class="list-group-item archives-year-item">
            <a href="<%- url_for(item.path) %>">
                <span><%- item.title %></span>
            </a>
            <span class="archives-year-item-date"><%- item.date %> </span></li> 
    <% }) %>
    </ul>
<% }) %>
</div>