<%- partial('_partial/head') %>

    <body>
        <section class="container mainbody">
        <%- partial('_partial/topnavs') %>
        
            <%- body %>
        </section>
        <%- partial('_partial/foot') %>
    </body>

    </html>