.mainbody {
    flex: 1;
    // 主页文章列表
    .postcards {
        flex: 1; 
        .postcard {
            margin-bottom: 10px;
            box-shadow: 0 1px 3px rgba(0,0,0,.1);
            border-radius: 0;
            .postcard-title {
                font-size: 20px;
                font-weight: 400;
                a {
                    color: #333;
                }
            }

            .postcard-body {
                // font-size: 14px;
                margin: 10px 0;
                line-height: 1.9em;
                color: #4a4a4a;
                .read-more {
                    color: #b3b3b3;
                }
            }

            .postcard-footer {
                font-size: 14px;
                color: gray;
            }

        }
    }

    .paging {
        display: flex;
        justify-content: space-between;
    }
}







