body {
  font-family: source-han-sans-simplified-c, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  color: #484848;
}
a {
  color: inherit;
  text-decoration: none;
}
.bull {
  margin: 0 6px;
}
.fixed-690 {
  width: 690px;
  max-width: 100%;
}
.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.topnavs {
  margin: 10px auto;
  font-weight: bold;
}
.topnavs .navbar {
  padding: 0px;
}
.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #b3b3b3;
  padding: 20px 0;
  border-top: 1px solid #e8e8e8;
}
.mainbody {
  flex: 1;
}
.mainbody .postcards {
  flex: 1;
}
.mainbody .postcards .postcard {
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
.mainbody .postcards .postcard .postcard-title {
  font-size: 20px;
  font-weight: bold;
}
.mainbody .postcards .postcard .postcard-title a {
  color: #333;
}
.mainbody .postcards .postcard .postcard-body {
  font-size: 16px;
  margin: 10px 0;
}
.mainbody .postcards .postcard .postcard-body .read-more {
  color: #b3b3b3;
}
.mainbody .postcards .postcard .postcard-footer {
  font-size: 14px;
  color: gray;
}
.mainbody .paging {
  display: flex;
  justify-content: space-between;
}
.article {
  margin: 40px 0;
}
.article .article-title {
  margin-bottom: 40px;
  border-bottom: 1px solid #e8e8e8;
}
.article .article-title .article-title-views {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #b3b3b3;
  padding: 20px 0;
}
.article .article-title > h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
.archive .breadcrumb {
  background-color: #fff;
  padding: 1rem 8px;
  margin-bottom: 0;
  font-weight: bold;
}
.archive .archives-year .archives-year-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
}
.archive .archives-year .archives-year-item .archives-year-item-date {
  color: #868e96;
}
.markdown {
  font-size: 16px;
  line-height: 2rem;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}
.markdown h1 {
  font-size: 2rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eee;
}
.markdown h2 {
  font-size: 1.75rem;
  margin: 45px 0 .8rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eee;
}
.markdown h3 {
  font-size: 1.5rem;
  margin: 30px 0 .8rem;
}
.markdown h4 {
  font-size: 1.25rem;
  margin: 15px 0 .8rem;
}
.markdown h5 {
  font-size: 1rem;
}
.markdown h6 {
  font-size: 1rem;
}
.markdown pre {
  font-family: Roboto Mono,Monaco,courier,monospace !important;
  background: #f8f8f8 !important;
  font-size: 0.9rem;
  padding: 1.3rem 1rem !important;
  margin: 0 0 1rem 0 !important;
}
.markdown p {
  margin: 0 0 1rem 0;
}
.markdown img {
  max-width: 100%;
  width: 100%;
  margin: 1rem 0;
}
.markdown blockquote {
  background-color: #f8f8f8;
  border-left: 5px solid #ddd;
  padding: 0.5rem 1rem;
}
.markdown blockquote > :first-child {
  margin-top: 0;
}
.markdown blockquote > :last-child {
  margin-bottom: 0;
}
.markdown ul {
  margin: 1rem 0;
  padding-left: 40px;
}
.markdown ul li {
  word-wrap: break-word;
}
.markdown a {
  color: #4078c0;
  text-decoration: none;
}
.markdown a:hover {
  text-decoration: underline;
}
.markdown table {
  border: 1px solid #e8e8e8;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown table thead {
  font-weight: bold;
}
.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.markdown table td,
.markdown table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  text-align: center !important;
}
