<div class="articel">
    <div class="articel-title">
        <h1>
            <%- post.title %> 
        </h1>
    </div>
    <div class="articel-content markdown">
        <%- post.content %> 
    </div>
    <div class="articel-foot"></div>
</div>
