<footer class="container fixed-690 footer">
    <div>
        <span>Power by <a href="https://hexo.io">Hexo</a></span>
    </div>
    <div>
        <span>Theme <a href="https://github.com/zhengxiaowai/hexo-theme-lessless">lessless</a></span>
    </div>
        <% if (theme.busuanzi.enable) { %>
            <%- partial('_widget/busuanzi') %>
        <% } %>
</footer>